<html>
    <head>
        <title>Santander Bike App</title>
        <link rel="stylesheet" href="../style/main.css">
    </head>
    <body>
        <div class="headerContainer">
            <div class="headerText">
                Welcome to the Santander Bike App
            </div>
        </div>
        <div class="contentContainer">
            <label for="searchID" class="searchLabel">Introduce a location:</label>
            <div id="searchID" class="searchContainer">
                <div class="searchIcon"></div>
                <input type="text" class="searchField js-search-field" placeholder="ie: Bow">
            </div>
        </div>
    </body>
</html>